/* BGSlider.css */
.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #d1d5db; /* Tailwind gray-300 */
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease-in-out;
}

/* Track */
.slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #d1d5db;
  border-radius: 5px;
}

/* Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background-image: url(C:/Users/divya/Desktop/assets/slide_icon.svg);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  margin-top: -8px;
  transition: background 0.2s;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  background: #111827;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
